<p id="notice"><%= notice %></p>

<body>
  <div class="col-sm-12 padd">
    <section class="content-2 section-grey">
      <div class="container">
        <div class="row">

          <h1 class="text-center">Partidos</h1>
          <div class="line"></div>

          <div class="col-sm-24">
            <div class="padd">
              <p style="text-align: center">Selecione o estado e confira todos os feitos dos políticos brasileiros.</p>

            </div>
          </div><!-- end row -->
        </div><!-- end container -->
      </div>
    </div>
    </section>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Sigla</th>
        <th>Número de políticos</th>
        <th>Legenda</th>
      </tr>
      </thead>
      <tbody>
      <% @partidos.each do |partido| %>
          <tr>
            <td><%= link_to image_tag(partido.photo.url(:thumb)), partido %></td>
            <td><h4><%= partido.descricao %></h4></td>
            <td><h4><%= partido.sigla %></h4></td>
            <td><h4><%= partido.numero_politicos %></h4></td>
            <td><h4><%= partido.legenda %></h4></td>
          </tr>
      <% end %>
      </tbody>
    </table>
</body>
