<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cargo.nome %>
</p>

<p>
  <strong>Salario:</strong>
  <%= @cargo.salario %>
</p>

<p>
  <strong>Funcao:</strong>
  <%= @cargo.funcao %>
</p>

<%= link_to 'Edit', edit_cargo_path(@cargo) %> |
<%= link_to 'Back', cargos_path %>
