
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <span style="text-align: center"></span>
    
    <!-- Sign Up -->
 	<section id="register" class="content section-grey" style="background: url(img/pixel_weave.png) repeat;">
    	<div class="container">
        	<div class="row">
            	
                <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                	<div class="register-box box-shadow rounded-x2">
                        <h4 class="text-center weight-700">Editar Conta</h4>
                        <hr />
                        <div class="input-group">
                        	<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        	<%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"E-mail" %>
                        </div>
                        
                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                        <% end %>
                        
                        <div class="input-group">
                        	<span class="input-group-addon"><i  class="fa fa-lock"></i></span>
                          <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Nova Senha (mínimo de 6 caracteres)" %>
                        </div>
                        
                        <div class="input-group">
                        	<span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        	<%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Confirme sua Senha" %>
                        </div>
                        
                        <div class="input-group">
                        	<span class="input-group-addon"><i class="fa fa-lock"> </i></span>
                        	<%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Sua senha atual" %>
                        </div>
                        
                        <%= f.submit "Alterar", class:"btn btn-lg pi-btn-default rounded" %><br><br>
                        
                        <h4 class="text-center weight-700">Cancelar minha conta</h4>

                        <p>Insatisfeito? <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Você tem certeza?" }, method: :delete, class:"btn btn-lg pi-btn-red rounded" %></p>
                        
               		</div><!-- end login-box --> 
            	</div><!-- end col-4 -->
                
            </div><!-- end row -->
        </div><!-- end container -->
    </section>
    <%end%>
