<p id="notice"><%= notice %></p>

<h1>Listing Politicos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Estado</th>
      <th>Cidade</th>
      <th>Municipio</th>
      <th>Partido</th>
      <th>Cargo eleito</th>
      <th>Cargo atual</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @politicos.each do |politico| %>
      <tr>
        <td><%= politico.nome %></td>
        <td><%= politico.idade %></td>
        <td><%= politico.estado %></td>
        <td><%= politico.cidade %></td>
        <td><%= politico.municipio %></td>
        <td><%= politico.partido %></td>
        <td><%= politico.cargo_eleito %></td>
        <td><%= politico.cargo_atual %></td>
        <td><%= politico.status %></td>
        <td><%= link_to 'Show', politico %></td>
        <td><%= link_to 'Edit', edit_politico_path(politico) %></td>
        <td><%= link_to 'Destroy', politico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Politico', new_politico_path %>
