<p id="notice"><%= notice %></p>

<section class="content">
    	<div class="container">
        	<div class="row">
            	<div class="col-sm-12 col-md-5 padd">
                    <div class="owl-carousel owl-item-1">

                        <div class="item">
                          <%= image_tag(@politico.photo.url(:medium)) %>
                        </div>

                    </div><!-- end owl-item-1 -->
                </div>
                
                <div class="col-sm-12 col-md-7 padd">
                	<h5><%= @politico.nome %></h5>
                    <div class="line-left"></div>
                    <em>Vice: Francisco Dornelles</em>
					          <p>É um político brasileiro filiado ao PMDB, atual governador do Estado do Rio de Janeiro.[1] Pezão foi diagnosticado com linfoma não-hodgkin em 24 de março de 2016, um tipo de câncer raro que atinge o tecido ósseo.</p>
                    <ul class="list1">
                        <li class="wow fadeInDown" data-wow-duration="1s"><i></i><%= @politico.status %></li>
                        <li class="wow fadeInDown" data-wow-duration="2s"><i></i>Natural de <%= @politico.cidade %> </li>
                        <li class="wow fadeInDown" data-wow-duration="3s"><i></i><%= image_tag(@politico.partido.photo.url(:thumb)) %></li>
                    </ul>
                </div>
                
            </div><!-- end row -->
        </div><!-- end container -->
    </section>
    <h5 class="text-center"> Você gosta de <%= @politico.nome %> ?</h5>
    <% if user_signed_in? %>
        <%= link_to like_politico_path(@politico), method: :put, class: "btn pi-btn-green btn-lg pull-center" do %>
            Curtir
            <span class="glyphicon glyphicon-thumbs-up text-center" aria-hidden="true"></span>
            <%= @politico.get_upvotes.size %>
        <% end %>
        <%= link_to dislike_politico_path(@politico), method: :put, class: "btn pi-btn-red btn-lg pull-center" do %>
            Descurtir
            <span class="glyphicon glyphicon-thumbs-down text-center" aria-hidden="true"></span>
            <%= @politico.get_downvotes.size %>
        <% end %>
    <%end %>
    <div class="container" >
      <div class="row ">
        <div class="col-md-offset-2 col-md-8 col-sm-12 top-margin" >
          <div >
            <ul class="timeline">
              <li class="time-label">
                                    <span class="bg-orange">Acontecimentos Marcantes
                                    </span>
                <br />
                <br />
              </li>
              <%= render @politico.acontecimentos %>
              </ul>
          </div>
        </div>
      </div>
    </div>
    
    <% c=@politico.comentarios.count %>
    <h3>
      <%if c > 0 %>
          <%= c %> 
          <% if c > 1 %>
              comentários
          <% else %>
              comentário
          <% end %>
      <%else%>
          Sem comentários
      <%end%>
    </h3>
    
    <div id="comments">
    <%= render @politico.comentarios %>
    <%= render "comentarios/form" %>
  </div>
          
            

<p>
  <strong>Nome:</strong>
  <%= @politico.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @politico.idade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @politico.estado %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @politico.cidade %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @politico.municipio %>
</p>

<p>
  <strong>Partido:</strong>
  <%= @politico.partido.nome %>
</p>

<p>
  <strong>Cargo eleito:</strong>
  <%= @politico.cargo_eleito %>
</p>

<p>
  <strong>Cargo atual:</strong>
  <%= @politico.cargo_atual %>
</p>

<p>
  <strong>Status:</strong>
  <%= @politico.status %>
</p>

<%= link_to 'Edit', edit_politico_path(@politico) %> |
<%= link_to 'Back', politicos_path %>
