<%= div_for(@politico) do %>
<%titulo = "" %>
<% titulo = @politico.nome %>
<% @title=titulo %>
 <% if @politico.cargo_eleito.downcase == "presidente" || @politico.cargo_eleito.downcase == "vice-presidente" %>
   <header id="header" class="section-parallax parallaxBg" style="background-image: url(/img/palacio-do-planalto-21.jpg);">
 <% else %>
   <% if @politico.cargo_eleito.downcase == "governador" %>
     <% if @politico.estado.downcase == "rj" %>
       <header id="header" class="section-parallax parallaxBg" style="background-image: url(/img/guanabara.jpg);">
       <%else if @politico.estado.downcase == "sp" %>
         <header id="header" class="section-parallax parallaxBg" style="background-image: url(/img/bandeirantes.jpg);">
       <% end %>
     <% end %>
   <% end %>
 <% end %>
    	<div class="layer"></div>
        <div class="container parallax-content text-center">
        	<section class="home section-parallax parallaxBg">
          	<div class="container">
              	<div class="row">
                  	<div class="col-sm-12 col-md-5 padd">
                          <div class="owl-carousel owl-item-1">
      
                              <div class="item" data-no-turbolink>
                                <%= image_tag(@politico.photo.url(:medium)) %>
                              </div>
      
                          </div><!-- end owl-item-1 -->
                      </div>
                      
                      <div class="col-sm-12 col-md-7 padd">
                      	<h5><%= @politico.nome %></h5>
                          <div class="line"></div>
                          <% if @politico.cargo_eleito.downcase != "vice-presidente" %>
                            <em> Vice: <%= @politico.vice %></em>
                          <% end %>
      					          <p> <%= @politico.descricao %></p>
                          <ul class="list1">
                              <li class="wow fadeInDown" data-wow-duration="1s"><i></i><%= @politico.status %></li>
                              <li class="wow fadeInDown" data-wow-duration="2s"><i></i>Natural de <%= @politico.cidade %> </li>
                              <li class="wow fadeInDown" data-wow-duration="3s"><i></i><%= image_tag(@politico.partido.photo.url(:thumb)) %></li>
                          </ul>
                      </div>
                  </div><!-- end row -->
              </div><!-- end container -->
            </section>
        </div><!-- end container -->
    </header>
    <br>
    <% c=@politico.acontecimentos.count %>
    <% if c > 0 %>
      <div class="container" >
        <div class="row ">
          <div class="col-md-offset-2 col-md-8 col-sm-12 top-margin" >
            <div >
              <ul class="timeline">
                <li class="time-label">
                                      <span class="bg-orange">Acontecimentos Marcantes
                                      </span>
                  <br />
                  <br />
                </li>
                <li class="time-label">
                  <span class="bg-light-blue"> 2016
                  </span>
                </li>
                <%= render @politico.acontecimentos.order(data_pub: :desc) %>
                </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    
    
    <section class="content">
    	<div class="container">
        	<div class="row">
                <div class="col-sm-12 blog-container margin-top-40">
                    <div class="media">
                      <hr class="divider-dotted divider-big" />
                        <h5><% c=@politico.comentarios.count %>
                            <%if c > 0 %>
                                <%= c %>
                                <% if c > 1 %>
                                    comentários
                                <% else %>
                                    comentário
                                <% end %>
                            <%else%>
                                Sem comentários
                            <%end%>
                        </h5>
  
                        <%= render @politico.comentarios.reverse, review: Comentario.new(politico_id: @politico.id) %>
                    </div>
                    <%= render "comentarios/form" %>
                  </div>
                </div>
              </div>
            </section>
<% end %>


