
<!-- heaqder -->
<header class="home section-parallax parallaxBg" style="background-image: url(img/home_01.jpg);">
  <div class="layer"></div>
  <div class="container parallax-content">
    <div class="row">
      <div class="col-sm-12">
        <h1>Memória de Elefante</h1>
        <h6><em>"incomoda, incomoda muita gente"</em></h6>
        <p>Agrupamos, organizamos e listamos todos os feitos dos políticos brasileiros.</p>
        <%= link_to 'Descubra como', mapa_path, class:"btn pi-btn-default btn-xlg btn-border" %>

      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</header>
<!-- end header -->

<!-- start Navigation -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Zetta Menu -->
    <ul id="nav" onClick="" class="zetta-menu zm-response-switch zm-full-width zm-effect-slide-top">
      <!-- LOGO -->
      <li class="zm-logo">
        <%= image_tag("logotipoold.png") %>
      </li>
      <!-- end LOGO -->

      <!-- Home Menu -->
      <li class="nav"><%= link_to 'Home', root_path %></li>
      <li class=><a href="/mapa"> Mapa Político </a></li>

      <li class=><a href="/cargos">Cargos</a>
        <ul class="w-200">
          <li class="zm-active"><a href="/politicos/cargos/presidente">Presidente</a></li>
          <li><a href="#">Governadores</a></li>
          <li><a href="#">Prefeitos</a></li>
          <li><a href="#">Deputados Federais</a></li>
          <li><a href="#">Senadores</a></li>
          <li><a href="#">Deputados Estaduais</a></li>
          <li><a href="#">Vereadores</a></li>

        </ul>
      </li>
      <!-- /Home Menu -->

      <li class="nav"><a href="/partidos"> Partidos </a></li>

      <% if user_signed_in? %>
        <li class="round-image-50 zm-right-item"><%= image_tag(current_user.photo.url(:thumb))%>
        <li class="nav zm-right-item"><%= link_to 'Sair', destroy_user_session_path, :method => :delete %></li>
        <li class="nav zm-right-item"><%= link_to 'Editar', edit_user_registration_path %> </li>
      <% else %>
        <li class="btn pi-btn-default btn-primary zm-right-item"><a href="/users/sign_in"> Login </a></li>
      <%end%>


    </ul>
    <!-- /Zetta Menu 1 -->
  </div><!-- /.container-fluid -->
</nav>
<!-- end nav -->


<span style="text-align: center"></span>

<!-- about us -->
<section class="content-2 section-grey">
  <div class="container">
    <div class="row">

      <h1 class="text-center">Funcionamento</h1>
      <div class="line"></div>

      <div class="col-sm-24">
        <div class="padd">
          <p><span class="dropcap">C</span>
            riado com o objetivo de mudar a visão política do povo brasileiro, o projeto "Memória de Elefante" será um marco tecnológico do século 21. </p>
          <p> Selecionando o estado, o usuário analisará todos os principais feitos dos políticos, tudo bastante organizado e em formato de linha do tempo. Como funcionaliades, teremos o campo de comentário e a opção de "like" e "dislike".</p>

        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div>
</section>
<!-- end about us -->

<!-- about us image parallax -->
<section class="content section-parallax parallaxBg-2" style="background-image: url(img/team-smiling.jpg); height: 400px;"></section>
<!-- end about us image parallax -->


<!-- team -->
<section id="team" data-anchor="team" class="content-2 section-grey">
  <div class="container">
    <div class="row">
      <h1 class="text-center">Equipe</h1>
      <div class="line"></div>

      <p class="lead text-center margin-bottom-45">Formado por uma equipe inovadora, estes jovens acredidam que uma simples informação pode sim mudar o mundo!</p>

      <div class="col-sm-6 col-md-3">
        <div class="padd">
          <div class="team style2">
            <div class="team-header">
              <div class="team-layer"></div>
              <%= image_tag("cristiano.jpg") %>
              <ul class="social inline-block">
                <li>
                  <a href="https://www.facebook.com/cristiano.mendes.1694/about" target="_blank" class="social-icon-jump-x4 circle">
                    <div>
                      <i class="fa fa-facebook facebook-icon-jump"></i>
                      <i class="fa fa-facebook"></i>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="team-date">
              <h6>Cristiano Mendes</h6>
              <i class="piksell-color small-text">Back-end</i>
              <p>Lorem ipsum ctetur dolor sit amet, conse ctetur tempor elit.</p>
            </div>
          </div><!-- end team-style3 -->
        </div>
      </div><!-- end col-lg-3 -->

      <div class="col-sm-6 col-md-3">
        <div class="padd">
          <div class="team style2">
            <div class="team-header">
              <div class="team-layer"></div>
              <%= image_tag("team-02.jpg") %>
              <ul class="social inline-block">
                <li>
                  <a href="https://www.facebook.com/marcilio.quintino?fref=ts" target="_blank" class="social-icon-jump-x4 circle">
                    <div>
                      <i class="fa fa-facebook facebook-icon-jump"></i>
                      <i class="fa fa-facebook"></i>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="team-date">
              <h6>Marcílio Quintino</h6>
              <i class="piksell-color small-text">Negócios</i>
              <p>Lorem ipsum ctetur dolor sit amet, conse ctetur tempor elit.</p>
            </div>
          </div><!-- end team-style3 -->
        </div>
      </div><!-- end col-lg-3 -->

      <div class="col-sm-6 col-md-3">
        <div class="padd">
          <div class="team style2">
            <div class="team-header">
              <div class="team-layer"></div>
              <%= image_tag("team-01.jpg") %>
              <ul class="social inline-block">
                <li>
                  <a href="https://www.facebook.com/PdrinhoemCasa" target="_blank" class="social-icon-jump-x4 circle">
                    <div>
                      <i class="fa fa-facebook facebook-icon-jump"></i>
                      <i class="fa fa-facebook"></i>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="team-date">
              <h6>Pedro Armando</h6>
              <i class="piksell-color small-text">Front-end</i>
              <p>Lorem ipsum ctetur dolor sit amet, conse ctetur tempor elit.</p>
            </div>
          </div><!-- end team-style3 -->
        </div>
      </div><!-- end col-lg-3 -->

      <div class="col-sm-6 col-md-3">
        <div class="padd">
          <div class="team style2">
            <div class="team-header">
              <div class="team-layer"></div>
              <%= image_tag("walter.jpg") %>
              <ul class="social inline-block">
                <li>
                  <a href="https://www.facebook.com/walterspfilho" class="social-icon-jump-x4 circle">
                    <div>
                      <i class="fa fa-facebook facebook-icon-jump"></i>
                      <i class="fa fa-facebook"></i>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="team-date">
              <h6>Walter Filho</h6>
              <i class="piksell-color small-text">Back-end</i>
              <p>Lorem ipsum ctetur dolor sit amet, conse ctetur tempor elit.</p>
            </div>
          </div><!-- end team-style3 -->
        </div>
      </div><!-- end col-lg-3 -->



    </div><!-- end row -->
  </div><!-- end container -->
</section>
<!-- end team -->

<!-- quote -->
<section class="content-2 section-parallax parallaxBg-5" style="background-image: url(img/13.jpg);">
  <div class="layer"></div>
  <div class="container parallax-content">
    <div class="row">
      <div class="col-sm-12">
        <div class="padd">
          <div class="owl-carousel owl-item-quote">

            <div class="item">
              <p class="lead">Ideia Sensacional. Uma "post-it" político! </p>
              <p>- Leandro Marzulo - </p>
            </div><!-- end item -->

            <div class="item">
              <p class="lead">Contrary to popular belief, Lorem Ipsum is not simply random text.<br />It has roots in piece of classical.</p>
              <p>- Jacob Palis - </p>
            </div><!-- end item -->

            <div class="item">
              <p class="lead">Contrary to popular belief, Lorem Ipsum is not simply random text.<br />It has roots in piece of classical.</p>
              <p>- John Doe - </p>
            </div><!-- end item -->

          </div><!-- end owl-item-2 -->
        </div><!-- end col-sm-12 -->
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</section>
<!-- end quote -->





<!-- contact -->
<section id="contact" data-anchor="contact" class="content-2 section-grey">
  <div class="container">
    <div class="row">
      <h1 class="text-center">contacte-nos</h1>
      <div class="line"></div>

      <p class="lead text-center margin-bottom-45">Sua opinião é muito importante para nós. Entre em contato conosco!</p>

      <div class="col-sm-5">
        <div class="padd">
          <p class="lead"><i class="fa fa-phone margin-right-5"></i>+55 21 99193 8645</p>
          <p class="lead"><i class="fa fa-map-marker margin-right-5"></i>Rio de Janeiro<br />BRAZIL</p>
          <p class="lead"><i class="fa fa-envelope margin-right-5"></i><a href="#">oi@memoriadeelefante.com</a></p>
          <p class="lead"><i class="fa fa-globe margin-right-5"></i><a href="#">memoriadeelefante.com</a></p>
        </div>
      </div><!-- end col-sm-5 -->

      <div class="col-sm-7">
        <div class="padd">
          <form role="form">

            <div class="col-sm-6 col-xs-12 col-md-6">
              <div class="form-group">
                <input type="text" id="first-name-example-1" class="form-control" placeholder="Seu nome">
              </div>
            </div>

            <div class="col-sm-6 col-xs-12 col-md-6">
              <div class="form-group">
                <input type="text" id="email-example-1" class="form-control" placeholder="Seu e-mail">
              </div>
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <textarea class="form-control" id="exampleMessage-3" placeholder="Sua mensagem" rows="6"></textarea>
                <a href="#" class="btn btn-lg pi-btn-default no-rounded">Enviar<i class="fa fa-paper-plane"></i></a>
              </div>
            </div>

          </form>

        </div>
      </div><!-- end col-sm-7 -->

    </div><!-- end row -->
  </div><!-- end container -->
</section>
<!-- end contact -->

<!-- footer -->
<footer class="dark content">
  <div class="container text-center">
    <div class="row">
      <div class="margin-top-20 margin-bottom-20">
        <a href="#" class="social-icon-jump-x4 circle">
          <div>
            <i class="fa fa-facebook facebook-icon-jump"></i>
            <i class="fa fa-facebook social-icon-jump-dark"></i>
          </div>
        </a>

      </div>
      <p>2016 &copy; Todos os direitos reservados para Memória de Elefante.</p>
    </div><!-- end row -->
  </div><!-- end container -->
</footer>

<script>
  //Animation Wow.js
  new WOW().init();

  //sticky menu
  $(".navbar").sticky({topSpacing:0});

</script>

<script>
  $(document).ready(function(){
    $('#nav a').on('click', function() {
      var scrollAnchor = $(this).attr('data-scroll'),
          scrollPoint = $('section[data-anchor="' + scrollAnchor + '"]').offset().top - 69;
      $('body,html').animate({
        scrollTop: scrollPoint
      }, 500);
      return false;
    })
    $(window).scroll(function() {
      var windscroll = $(window).scrollTop();
      if (windscroll >= 100) {
        $('section[data-anchor]').each(function(i) {
          if ($(this).position().top <= windscroll + 71) {
            $('#nav li.zm-active').removeClass('zm-active');
            $('#nav li.nav').eq(i).addClass('zm-active');
          }
        });
      } else {
        $('#nav li.zm-active').removeClass('zm-active');
      }
    }).scroll();
  });
</script>
