
          <li class="time-label">
                                <span class="bg-light-blue"> Year 2014
                                </span>
          </li>
          <li>
            <i class="fa fa-envelope bg-blue"></i>
            <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i>20 Feburary</span>
              <h3 class="timeline-header"> <%= acontecimento.link %> </h3>
              <div class="timeline-body">
               <%= acontecimento.descricao %>
              </div>
              <div class='timeline-footer'>
                <a class="btn btn-primary btn-xs">Share</a>
                <a class="btn btn-danger btn-xs">Read More</a>
                <% if user_signed_in? %>
                    <%= link_to dislike_politico_acontecimento_path(acontecimento.politico, acontecimento), method: :put, class: "btn pi-btn-green btn-lg pull-center" do %>
                        Curtir
                        <span class="glyphicon glyphicon-thumbs-up text-center" aria-hidden="true"></span>
                        <%= acontecimento.get_upvotes.size %>
                    <% end %>
                    <%= link_to dislike_politico_acontecimento_path(acontecimento.politico, acontecimento), method: :put, class: "btn pi-btn-red btn-lg pull-center" do %>
                        Descurtir
                        <span class="glyphicon glyphicon-thumbs-down text-center" aria-hidden="true"></span>
                        <%= acontecimento.get_downvotes.size %>
                    <% end %>
                <%end %>
              </div>
            </div>
          </li>

