<!DOCTYPE html>
<html>
<head>
  <title>Elefante Político</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- FONTS -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Favicon -->
  <%= favicon_link_tag '/favicon.ico' %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Zetta Menu -->
    <ul id="nav" onClick="" class="zetta-menu zm-response-switch zm-full-width zm-effect-slide-top">
      <!-- LOGO -->
      <li class="zm-logo">
        <%= link_to image_tag("logotipo.png"), root_path %>
      </li>
      <!-- end LOGO -->

      <!-- Home Menu -->

      <li class="nav"><%= link_to 'Mapa Político', mapa_path %></li>

      <li class=><a>Cargos</a>
        <ul class="w-200">
          <li class="zm-active"><a href="/politicos/cargos/presidente">Presidente</a></li>
          <li><a href="#">Governadores</a></li>
          <li><a href="#">Prefeitos</a></li>
          <li><a href="#">Deputados Federais</a></li>
          <li><a href="#">Senadores</a></li>
          <li><a href="#">Deputados Estaduais</a></li>
          <li><a href="#">Vereadores</a></li>

        </ul>
      </li>
      <!-- /Home Menu -->

      <li class="nav"><%= link_to 'Partidos', partidos_path %></li>

      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <li class="nav zm-right-item"><%= link_to "Admin Panel", rails_admin_path %></li>
        <% end %>
        <li class="round-image-50 zm-right-item"><%= image_tag(current_user.photo.url(:thumb))%></li>
        <li class="nav zm-right-item"><%= link_to 'Sair', destroy_user_session_path, :method => :delete %></li>
        <li class="nav zm-right-item"><%= link_to 'Editar', edit_user_registration_path %> </li>
      <% else %>
          <li class="nav zm-right-item"><%= link_to 'Login', new_user_session_path %></li>
      <%end%>


    </ul>
    <!-- /Zetta Menu 1 -->
  </div><!-- /.container-fluid -->
</nav>


<%= yield %>

<!-- footer -->
<footer class="dark content">
  <div class="container text-center">
    <div class="row">
      <div class="margin-top-20 margin-bottom-20">
        <a href="#" class="social-icon-jump-x4 circle">
          <div>
            <i class="fa fa-facebook facebook-icon-jump"></i>
            <i class="fa fa-facebook social-icon-jump-dark"></i>
          </div>
        </a>

      </div>
      <p>2016 &copy; Todos os direitos reservados para Memória de Elefante.</p>
    </div><!-- end row -->
  </div><!-- end container -->
</footer>

</body>
</html>
