<!DOCTYPE html>
<html>
<head>
  <title>Memória de Elefante</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Favicon -->
  <%= favicon_link_tag '/favicon.ico' %>
</head>
<body id="onepage">

<%= yield %>

</body>
</html>
